{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="glass-card">
            <h2 class="text-center mb-4">Portal Login</h2>
            <form method="POST">
                <div class="mb-3">
                    <label class="form-label">Email Address</label>
                    <input type="email" name="email" class="form-control" required placeholder="name@invertis.org">
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-custom w-100 py-3">Login to Dashboard</button>
            </form>
            <p class="text-center mt-3 small">New Teacher? <a href="{{ url_for('register') }}">Create Account</a></p>
        </div>
    </div>
</div>
{% endblock %}